.slider{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/*slide translate layer with width: n*sw (slider width)*/
.slide-contain{
  width:100%;
  height: 100%;
  transition: all 1000ms ease; 
  transform: translate3d(0, 0, 0);
}
/*slide view with width: sw*/
.slide{
  display: table;
  table-layout: fixed;
  width:100%;
  height:100%;
  float: left;
}

.table-cell{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.inner-cell{
  margin-top:-20px;

}

.slider-control{
  position: absolute;
  bottom: 0;
  left:0;
  margin-bottom: 20px;
  width:100%;
}